@media screen and (max-width: 600px) {

  .waterMark {
  display: flex;
  flex: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: fit-content;
  max-width: fit-content;
  /* transform: translateX(5%); */
  color: white;
}

  .waterMark h2 {
    margin-right: 0;
    color: white;
    font-size: 1.5rem;
    margin: 0.4rem;
    width: fit-content;
    white-space: nowrap;
  }

  .waterMark img {
    width: 2rem;
    height: 2rem;
  }
}



@media screen and (min-width: 600px) {
  .waterMark {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: fit-content;
    max-width: fit-content;
    transform: translateX(5%);
    color: white;
  }

  .waterMark img {
    width: 2rem;
    height: 2rem;
    margin: 0.4rem;
  }

  .waterMark h2 {
    margin-right: 8.3rem;
  }
}
