.item {
    width: 100%;
    height: calc(fit-content);
    display: flex;
    margin: 0.8rem 0;
    align-items: center;
    height: 1rem;
}

.iconAndToken {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.item img {
    height: 0.5rem;
    width: 0.5rem;
    transform: translate(-40%, -60%);
}


.item button {
    background-color:#13152a;
    border: none;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    
}