.item {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    height: 1rem;
}

.iconAndToken {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.item img {
    width: 0.7rem;
    width: 0.7rem;
    transform: translate(-40%, -30%);
}


.item button {
    background-color:#13152a;
    border: none;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}