@media screen and (max-width: 600px) {
  .header {
    max-width: 80%;
    margin: 2rem auto 1.5rem auto;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 8rem;
    width: 8rem;
  }
}

@media screen and (min-width: 600px) {
  main {
    width: 100%;
    height: 100%;
  }

  .layout {
    padding-top: 0.7rem;
    margin: auto;
    box-sizing: border-box;
    background-color: #13152a;
    height: 100%;
    width: 100%;
  }

  .header {
    max-width: 80%;
    margin: 2rem auto 1.5rem auto;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 10rem;
    width: 10rem;
  }
}
