/* add media queries for dynamic styling */

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 15rem;
  white-space: nowrap;
}

.mainHeader button {
  background-color: #aa33b5;
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
}

.altHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  min-width: 20rem;
  margin: auto;
}

.auxDiv {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    margin: auto auto auto 2rem;
}

.altActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 20rem;
  min-width: 10rem;
}

.altActions button {
    cursor: pointer;
    padding: 3px 20px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}

.altActions p {
    font-weight: 700;
    color: white;
    transform: translateY(20%);
}
